:root {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  --dark-bg: #1F2937;
  --blue-bg: #3882F6;
  --text-light-primary: #F9FAF8;
  --text-light-secondary: #E5E7EB;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav, div.body-content, footer {
  margin: 0 auto;
  padding: 0 15%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-bg);
}

nav h1 {
  font-size: 1.3rem;
  color: var(--text-light-primary);
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  list-style: none;
  color: var(--text-light-secondary);
}

div#hero-title {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--dark-bg);
}

div#hero-title h1 {
  font-size: 2.6rem;
  font-weight: 900;
  color: var(--text-light-primary);
  margin: 0 0 0.5rem 0;
  padding: 0;
}

div#hero-title p {
  font-size: 1rem;
  color: var(--text-light-secondary);
}

div#hero-title button {
  border: none;
  border-radius: 0.5rem;
  color: var(--text-light-primary);
  background-color: var(--blue-bg);
  width: 7rem;
  height: 1.75rem;
  font-weight: 700;
}

div#hero-title img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div#hero-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

div.hero-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 4rem;
}

div#hero-gallery h1 {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}

div.hero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.hero-card-image {
  width: 10vw;
  height: 10vw;
  border: 0.25rem solid var(--blue-bg);
  border-radius: 0.5rem;
}

p.hero-card-text {
  font-size: 1rem;
  text-align: center;
  color: #6b727b;
}

div#testimony {
  padding: 5rem 20%;
  background-color: #E5E7EB;
}

div#testimony p {
  color: #1F2937;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}

div#testimony p.quote-author {
  text-align: right;
}

div#cta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 10%;
  padding: 4rem 6rem;
  border-radius: 1rem;
  color: #F9FAF8;
  background-color: #3882F6;
}

div#cta-text * {
  margin: 0;
}

div#cta-text h1 {
  font-size: 1.5rem;
}

button#signup {
  border: 0.1rem solid #F9FAF8;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #F9FAF8;
  background-color: #3882F6;
}

footer {
  padding: 1rem;
  text-align: center;
  color: #F9FAF8;
  background-color:#1F2937;
}